numpy
pandas
openpyxl
tqdm

jiwer

torch
torchaudio
transformers
accelerate
sentencepiece
protobuf
datasets
huggingface_hub

librosa
soundfile
pydub
ffmpeg-python

pyannote.audio

qwen-asr

reportlab
python-bidi
arabic-reshaper
